
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color:  #7e786d;
    max-width: 300px;
}

.main-screen{
    position: relative;
    background-color: #f7f0f0;
    min-width:19rem;
    min-height: 36rem;
    margin:5rem 10rem;
    border-radius: 15px;
}
.screen-text{
    font-size: 15px;
    font-family: "Nunito", sans-serif;
}
.top-screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px;
}

.top-images img{
    width: 15px;
    height: 15px;
}

.bottom-screen{
    margin-top: -6.5rem;
    margin-left: 8rem;
    padding: 5px 100px;
}

.bottom-screen img{
    width: 130px;
    height: -8px;
    margin-left: 17px;
    transform: translateY(5px);
}